<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Last.FM API Callback</title>
    <style>
        div {
            color: white;
            padding: 1em;
        }
        h3, h4 {
            padding: 0;
            margin: 0;
        }
        textarea {
            width: 100%;
            max-width: 60em;
            height: 8em;
        }
    </style>
</head>
<body>
<h1>Last.FM API Callback - youtube-fm</h1>
{%if error %}
<div style="background-color: red">
    <h3>Error processing callback!</h3>
    <pre>{{ error }}</pre>
</div>
{% else %}
<div style="background-color: blue">
    <h3>Created new Last.FM user!</h3>
    <p>Here is your token: <pre>{{ user }}</pre></p>
    <p><b>COPY THIS TOKEN NOW!</b>  You may need it to access this configuration tool later!</p>
</div>
<div style="background-color: #333">
    <h4>Next steps</h4>
    <p>Follow the steps <a target="_blank" href="https://ytmusicapi.readthedocs.io/en/latest/setup.html#authenticated-requests">here</a>
    to get the session cookies for your YouTube Music account, then paste the output here:</p>
    <form method="post" action="/cookies">
        <input type="hidden" name="user" value="{{ user }}"/>
        <textarea name="cookies"></textarea>
        <p>When you're finished, click submit:</p>
        <input type="submit" value="Submit"/>
    </form>
</div>
{% endif %}
</body>
</html>