<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cookies Callback</title>
    <style>
        div {
            color: white;
            padding: 1em;
        }
        h3, h4 {
            padding: 0;
            margin: 0;
        }
        textarea {
            width: 100%;
            max-width: 60em;
            height: 8em;
        }
    </style>
</head>
<body>
<h1>Cookies Callback - youtube-fm</h1>
{%if error %}
<div style="background-color: red">
    <h3>Error processing callback!</h3>
    <pre>{{ error }}</pre>
</div>
{% else %}
<div style="background-color: blue">
    <h3>Cookies added!</h3>
    <p>Your profile is now configured with the defaults, but you can configure your options by clicking the button
    below:</p>
    <form method="post" action="/configure">
        <input type="hidden" name="user" value="{{ user }}"/>
        <input type="submit" value="Configure User"/>
    </form>
</div>
{% endif %}
</body>
</html>